<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="src/index.js"></script>
  </head>
  <body ng-init="page = { url: '' } ">
    <div class="container">
      <div class="row">
        <h1>Diebold Nixdorf Supermarket</h1>

        <div class="row">
          <div class="col">
            <h1>Developers</h1>
            <nav>
              <ul>
                <li>
                  <a ng-click="page.url = 'placki/developers/damian.html' "
                    >Damian</a
                  >
                </li>
                <li>
                  <a ng-click="page.url = 'developers/MarekA.html' "
                    >Marek A.</a
                  >
                </li>
                <li>
                  <a ng-click="page.url = '/developers/adrzazgowski.html' "
                    >Endrju</a
                  >
                </li>
                <li>
                  <a ng-click="page.url = 'developers/mkulesza.html' "
                    >Mateusz Kulesza
                  </a>
                </li>
                <li>
                  <a ng-click="page.url = 'developers/ola.html' ">Ola</a>
                </li>
                <li>
                  <a ng-click="page.url = 'developers/jzahraj.html' "
                    >Justyna Zahraj</a
                  >
                </li>

                <li>
                  <a
                    ng-click="page.url = 'developers/Karol Stylok/kstylok.html' "
                    >Karol Stylok</a
                  >
                </li>
                <li>
                  <a ng-click="page.url = 'developers/mkubinski.html' "
                    >Kubinski</a
                  >
                </li>
                <li>
                  <a ng-click="page.url = 'developers/nhalska.html' "
                    >Natalia Halska</a
                  >
                </li>
                <li>
                  <a ng-click="page.url = 'developers/leszekwoznica.html' "
                    >Leszek Woźnica</a
                  >
                </li>
                <li>
                  <a ng-click="page.url = 'developers/albert.html' ">Albert</a>
                </li>
                <li>
                  <a ng-click="page.url = 'developers/ksienica.html' "
                    >Kamil Sienica</a
                  >
                </li>
                <li>
                  <a ng-click="page.url = 'developers/pskibinski.html' "
                    >Paweł Skibiński</a
                  >
                </li>
                <li>
                  <a ng-click="page.url = 'developers/lmaj.html' "
                    >Łukasz Maj</a
                  >
                </li>
              </ul>
            </nav>
          </div>
          <div class="col" ng-if="page.url">
            <basket></basket>
            <!-- <add-to-basket name="placki" price="100"></add-to-basket> -->
            <ng-include src="page.url"></ng-include>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
